<h1>New Message</h1>

<% if current_user %>
  <%= render 'form', message: @message, users: @users %>
<% else %>
  <p>Please Log in in order to send a message</p>
<% end %>

<%= link_to 'Back', messages_path %>
