<% @comments.each do |comment| %>
    <p> <b> <%= comment.user_id %> <b>: <%= comment.comment %>
    <%= link_to_if(current_user, 'Edit', edit_comment_path(comment)){} %>
    <%= link_to_if(current_user, 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }){} %></p>
<% end %>
