<% @comments.each do |comment| %>
    <p>
    <% if comment.user_id %>
      <% user = User.find comment.user_id %>
      <b><%= link_to user.username, user %></b>
    <% else %>
      <b>Anonymous</b>
    <% end %>: <%= comment.comment %>
    <%= link_to_if(current_user && comment.user_id == session[:user_id], 'Edit', edit_comment_path(comment)){} %>
    <%= link_to_if(current_user && comment.user_id == session[:user_id], 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }){} %></p>
<% end %>
