// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postImage {
	width: 300px;
}

.postRow {
	border-color: aqua;
	border-width: 25ch;
}

.postCaption {
	font-size: large;
}

.postNew {
	font-size: medium;
	color: firebrick;
	padding: 10px;
}

.postPage {
	position: relative;
	bottom: 0;
	text-align: center;
	width: 95%;
	font-size: x-large;
	margin-bottom: 35px;
	margin-top: 35px;
}

.postshowImage {
	width: 500px;
}
