// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profilePicture {
	width: 200px;
	max-height: 200px;
	object-fit: cover;
}

.profileName {
	font-size: large;
}

.profilePage {
	position: relative;
	bottom: 0;
	text-align: center;
	width: 95%;
	font-size: x-large;
	margin-bottom: 35px;
	margin-top: 35px;
}

.profileshowImage {
	width: 500px;
}
